{% extends "base.html" %}
{% block title %}
  Список героев
{% endblock %}
{% block content %} 
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h2>Список героев</h2>
      <p>
        {% for hero in heroes %}
            <li>
                <a href="http://127.0.0.1:8000/info/{{hero}}">{{ hero }}<a/>
                <a href="http://127.0.0.1:8000/counter/{{hero}}">Контрпики<a/>
            </li>
        {% endfor %}
      </p>      
    </div> 
    <div class="col-12 col-md-6 mb-3">    
    </div>
  </div>     
{% endblock %}